<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'signmeup2' in resource group 'Default-Storage-NorthEurope' -->
  <InstrumentationKey>4bc50f47-2302-46bf-a5dc-69e3bedf0443</InstrumentationKey>
</ApplicationInsights>