<appSettings>
  <!-- Skarpa Payson uppgiter!! -->
  <add key="PAYSON-SECURITY-USERID" value="17224" />
  <add key="PAYSON-SECURITY-PASSWORD" value="e656e666-3585-4453-ad39-f0ec39fa15fc" />
  <add key="SendGridUser" value="azure_63d813112e1c624d31e5de2c6e3fcef4@azure.com" />
  <add key="SendGridPwd" value="V70Dbq67v6Rlh6Q" />
  <add key="SendGridAPI_key" value="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"/>
  <add key="SeedPwd" value="HansOchGreta777"/>
</appSettings>