@model SignMeUp2.ViewModels.RegistreringVM

@{
    ViewBag.Title = "Redigera registrering";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Redigera registrering</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.EditorFor(m => Model)

    <div class="row">
        <div class="col-lg-1">@Html.ActionLink("Tillbaka", "Details", new { id = Model.Id }, new { @class = "btn btn-primary" })</div>
        <div class="col-lg-1"><input type="submit" value="Spara" name="ok" class="btn btn-success pull-right" /></div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
