@model SignMeUp2.ViewModels.FormularViewModel

@{
    ViewBag.Title = "Skapa nytt formulär";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Skapa nytt formulär</h2>

@{Html.RenderPartial("_meddelande");}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        @Html.EditorFor(model => model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lägg till" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@{Html.RenderPartial("_footerEntity", Model);}