@model SignMeUp2.ViewModels.FormularViewModel

@{
    ViewBag.Title = "Skapa nytt formulär";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Rediger formulär</h2>

@{Html.RenderPartial("_meddelande");}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />

        @Html.EditorFor(model => model)

        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Spara" class="btn btn-success" />
            </div>
            <div class="col-md-offset-3 col-md-2">
                @Html.ActionLink("Radera", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Är du säker på att du vill radera detta formulär? Det kommer även att radera alla registreringar, listor, fält och val som är assosierade med detta formulär.');" })
            </div>
        </div>
    </div>
}

<div class="row help-block">
    @Html.ActionLink("Formulärsöversikt", "Oversikt", "Formular", new { id = Model.Id }, new { @class = "btn btn-primary" })
</div>