@model JsonResult
@{
    ViewBag.Title = "Formularsbyggare";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script>
    var formular = @Html.Raw(Json.Encode(Model));
</script>

<h2>Formulärsbyggaren</h2>

<script type="text/html" id="step-template">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="clearfix" style="margin-bottom: 30px;">
                <!-- panel head -->
                <div class="pull-left">Steg <span data-bind="text: index"></span></div>
                <div class="pull-right">
                    <button type="button" class="btn btn-default btn-sm" data-bind="click: $parent.removeStep">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>

                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>

                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-plus"></span> <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#" data-bind="click: addField.bind($data, 'information')">Informationstext</a></li>
                            <li><a href="#" data-bind="click: addField.bind($data, 'text')">Textinmatning</a></li>
                        </ul>
                    </div>

                    <button type="button" class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-align-justify"></span>
                    </button>
                </div>
            </div>

            <!-- ko template: {foreach: fields, name: 'field-template'} -->
            <!-- /ko -->
        </div>
    </div>
</script>


<script type="text/html" id="field-template">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="pull-left" data-bind="text: title()"></div>

            <div class="pull-right">
                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>

                <button type="button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-align-justify"></span>
                </button>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="edit-information-template">
</script>

<script type="text/html" id="edit-choice-template">
</script>

<script type="text/html" id="edit-text-template">
</script>

<input type="text" data-bind="value: title" placeholder="Formulärets titel..." />




<div class="row">

    <div class="col-md-8">

        <!-- ko template: {foreach: steps, name: 'step-template'} -->
        <!-- /ko -->

        <button class="btn btn-default" data-bind="click: addStep"><span class="glyphicon glyphicon-plus"></span> Nytt steg</button>
        <button class="btn btn-default">Förhandsgranska</button>
    </div>

    <!-- Editeringsrutan -->
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading">Informationstext</div>
            <div class="panel-body">
                <textarea class="form-control" rows="5"></textarea>
            </div>

            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <button class="btn btn-default">Spara</button>
                    <button class="btn btn-default">Avbryt</button>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="~/Scripts/viewModels/FormViewModel.js"></script>

@Scripts.Render("~/bundles/knockout")
