@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<h2>Hoppsan, ett fel har inträffat</h2><br />
<br />
@if (TempData["error"] != null) { 
    <p>Orsak: @TempData["error"]</p>
}
    
<p>Administratör är kontaktad. För att underlätta felsökning ber vi dig skicka ett meddelande till <a href="mailto:utmaningen@karlstadmultisport.se">utmaningen@karlstadmultisport.se</a>.
Beskriv vad du gjorde när felet uppstod och vad som hände med applikationen. Du kommer att få fortlöpande information om hur det går med felrättningen.</p>

<p>@Html.ActionLink("Lista på alla evenemang", "index", "home")</p>
