@model HandleErrorInfo

@{
    ViewBag.Title = "Hoppsan, ett fel har inträffat";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

<h2>Hoppsan, ett fel har inträffat</h2><br />
<br />
@if (TempData["error"] != null)
{
    <p>Orsak: @TempData["error"]</p>
}

<p>Om detta fel är återkommande ber vi dig kontakta oss så att vi kan avhjälpa felet. Skicka ett meddelande till <a href="mailto:martin.d.andersson@gmail.com">martin.d.andersson@gmail.com</a> och beskriv hur felet uppstår. Tack på förhand.</p>