@model SignMeUp2.ViewModels.WizardStep

<div>
    <h4>@Model.Namn</h4>
    <hr />
    <dl class="dl-horizontal">

        @foreach (var falt in Model.FaltLista)
        {
            <dt>
                @falt.Namn
            </dt>

            <dd>
                @if (falt.Typ == SignMeUp2.Data.FaltTyp.val_falt)
                {
                    var id = int.Parse(falt.Varde);
                    var val = falt.Val.FirstOrDefault(f => f.Id == id);
                    @val.Namn
                }
                else
                {
                    @falt.Varde
                }
            </dd>
        }
    </dl>
</div>
