<div class="form-actions no-color">
    @Html.ActionLink("Tillbaka till listan", "Index", new { id = ViewBag.Evenemang.Id }, new { @class = "btn btn-primary" })
    <input type="submit" value="Ta bort" class="btn btn-danger" />
</div>