<div class="row">
    @if (ViewBag.Evenemang != null)
    {
        @Html.ActionLink("Evenemangsöversikt", "Oversikt", "Evenemang", new { id = ViewBag.Evenemang.Id }, new { @class = "btn btn-primary" })
    }

    @Html.ActionLink("Skapa ny", "Create", new { id = ViewBag.Evenemang.Id }, new { @class = "btn btn-primary" })
</div>
