@model SignMeUp2.Data.Kanoter

@{
    ViewBag.Title = "Ta bort";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Ta bort kanot</h2>

<h3>Är du säker på att du vill ta bort denna?</h3>

@if (ViewBag.Error != null)
{
    <div class="row">
        <div class="alert alert-danger col-md-5" role="alert">
            @ViewBag.Error
        </div>
    </div>
}

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Namn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Namn)
        </dd>

        <dt>
            Avgift
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Avgift)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        Html.RenderPartial("_footerDelete");
    }
</div>
