@model Nullable<DateTime>

<div class="input-group date datetimepicker">
    <span class="input-group-addon">
        <span class="glyphicon glyphicon-calendar"></span>
    </span>
    @Html.TextBoxFor(model => model, new { @class = "form-control" })
</div>