@using SignMeUp2.Data;
@{
    ViewBag.Title = "Bekräfta registrering";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@model Registrering

<h2>Tack för din anmälan till @ViewBag.ev</h2>
   
<h4>Arrangör är @ViewBag.org</h4>

@Html.DisplayFor(m => Model)