@using SignMeUp2.Models;
@using SignMeUp2.Data;
@using SignMeUp2.Helpers;
@{
    ViewBag.Title = "Bekräfta registrering";
    Layout = "~/Views/Shared/_LayoutSimple.cshtml";
}

@model Registrering

<h2>Tack för din anmälan till @ViewBag.ev</h2>
   
<h4>Arrangör är @ViewBag.org</h4>

@Html.DisplayFor(m => Model)

@*@Html.Partial("_RegDetailsView", Model)*@