@model IEnumerable<SignMeUp2.DataModel.Evenemang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Evenemangsnamn
        </th>
        <th>
            Sista anmälning
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Namn, "Index", new { e = item.Id })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegStop)
            </td>
        </tr>
    }

</table>
