@{
    ViewBag.Title = "Misslyckad inloggning";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>@ViewBag.Title.</h2>
<h3 class="text-danger">Misslyckades med att logga in med tjänsten.</h3>
