@{
    ViewBag.Title = "Bekräftelse, glömt lösenordet";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Kontrollera din inbox för att återställa lösenordet.
    </p>
</div>
	
