@model SignMeUp2.ViewModels.RabattVM

@{
    ViewBag.Title = "Lägg till rabatt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Lägg till rabatt</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        @Html.EditorFor(model => model)

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Lägg till" class="btn btn-success" />
            </div>
        </div>
    </div>
}

@{Html.RenderPartial("_footerEntity", Model);}