@model SignMeUp2.ViewModels.RabattVM

@{
    ViewBag.Title = "Redigera rabatt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Redigera rabatt</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />

        @Html.EditorFor(model => model)


        <div class="form-group">
            <div class="col-md-2">
                <input type="submit" value="Spara" class="btn btn-success" />
            </div>
            <div class="col-md-offset-3 col-md-2">
                @Html.ActionLink("Radera", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger", @onclick = "return confirm('Är du säker på att du vill radera denna rabatt?');" })
            </div>
        </div>
    </div>
}

@{Html.RenderPartial("_footerEntity", Model);}